@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

/* Cart Section */

.cart-section {
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Table */

.table-text {
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 30px;
}
.table-price {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  text-align: right;
  margin: 30px;
}
.table-price-div {
  margin-right: 20px;
}
#total-price {
  color: #8b79d8;
  font-style: bold;
  font-weight: 600;
}

.container {
  width: 100%;
  overflow-x: hidden;
}
.update {
  font-family: "Titillium Web", sans-serif;
  padding: 9px 25px;
  border: 1px solid rgba(171, 171, 171, 0.66);
  border-radius: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  border-bottom: 1px solid rgba(229, 231, 235, 1); /* Light gray */
}

.table th {
  font-weight: 600;
  background-color: rgba(243, 244, 246, 1);
}

.table-zebra tbody tr:nth-child(odd) {
  background-color: rgba(243, 244, 246, 1);
}

.table tbody tr:hover {
  background-color: rgba(229, 231, 235, 1);
}
.table-auto {
  table-layout: auto;
}

.table-fixed {
  table-layout: fixed;
}
