@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

#checkout-modal {
  width: 100%;
  height: auto;
}

.checkout-form {
  display: flex;
  justify-content: center;
}
.order-form {
  font-family: "Titillium Web", sans-serif;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 40%;
  height: auto;
  transition: transform 0.3s;
}

.order-form:hover {
  transform: translateY(-5px);
}

.form-title {
  text-align: center;
  color: #2b2b2b;
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 8px; /* Increased space below labels */
  font-weight: 600; /* Bolder labels for emphasis */
  color: #4a4a4a; /* Slightly darker color for labels */
}

.form-input {
  width: 100%;
  padding: 12px; /* Increased padding for inputs */
  border: 2px solid #d1d5db; /* Light border for inputs */
  border-radius: 8px; /* Rounded corners for inputs */
  font-size: 14px;
  transition: border-color 0.3s; /* Smooth border color transition */
}

.form-input:focus {
  border-color: #d2afed; /* Border color on focus */
  outline: none; /* Remove default outline */
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-label {
  margin-bottom: 10px; /* More space between radio buttons */
  color: #4a4a4a; /* Consistent label color */
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #8b84a9;
  color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #8b84a9;
}
.submission {
  display: flex;
  gap: 20px;
}
