@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

/* Root */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font */

.titillium-font {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* NavBar */

nav {
  display: flex;
  font-family: "Titillium Web", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.888);
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-end {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 25px;
}
.nav-cart {
  color: white;
}
.cart-button {
  border: none;
  border-radius: 50%; /* Use 50% for perfect circle */
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  display: flex; /* Center the icon */
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
  background-color: #8b79d8; /* Optional: background color */
  cursor: pointer; /* Change cursor on hover */
}

.cart-button:hover {
  background-color: #6653ba; /* Optional: hover effect */
}
.logo {
  cursor: pointer;
  color: white;
}
.navbar_links {
  list-style: none;
}
.navbar_links li {
  display: inline-block;

  padding: 0 25px;
}

.navbar_links li a {
  transition: all 0.5s ease 0s;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.navbar_links li a:hover {
  color: #8b79d8;
  cursor: pointer;
}
button {
  font-family: "Titillium Web", sans-serif;
  padding: 9px 25px;
  background-color: #8b79d8;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
button:hover {
  background-color: #6653ba;
  cursor: pointer;
}

/* Slider */

.carousel {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  width: 100%;
  flex: 1 0 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Sections */
.section-titles {
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 30px;
}
.section-p {
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 10px;
}
.section-div {
  margin-top: 150px;
  margin-bottom: 100px;
}

/* Featured  */

/* Card */

.card-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  padding: 1rem;
}
.no-card-div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  padding: 1rem;
}
.card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: #ffffff;
}
.no-card {
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 30px;
  color: #c5c5c5;
}

/* Card Image */
.card-img {
  margin-top: 20px;
  width: 250px;
  object-fit: cover;
}

/* Card Body */
.card-body {
  padding: 1rem;
  width: 100%;
}

/* Card Title */
.card-title {
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  max-width: 200px;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

/* Card Text */
.card-text {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #8b79d8;
}

/* Card Button */
.card-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #8b79d8;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.card-button:hover {
  background-color: #9e93d1;
}

/* Card Hover Effect */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(174, 94, 255, 0.541);
}

/* Footer */
footer {
  font-family: "Titillium Web", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  height: 502px;
  width: auto;
}
footer h1 {
  color: white;
  font-size: 40px;
}
footer p {
  color: white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 26px;
  padding: 0 355px;
}
.social-media {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 32px;
}
.social-media .odd > i {
  font-size: 34px;
  color: #ffffff;
}
.social-media .odd > i:hover {
  font-size: 34px;
  color: #747474;
}
.social-media .even > i {
  font-size: 34px;
  color: #a982d5;
}
.social-media .even > i:hover {
  font-size: 34px;
  color: #c1a7df;
}

.copyright {
  margin-top: 50px;
  border-top: 2px solid rgba(255, 255, 255, 0.571);
}
.copyright p {
  margin-top: 50px;
}

/* 2nd slider */
.slider {
  width: 100vw;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 40s linear infinite;
  gap: 50px;
}

.slide {
  min-width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-250px * 7)
    ); /* Total width of one set of slides */
  }
}
